<section>
    <h3><bold><em>Multilingual Kids Review</em></bold></h3>
    <p>Every year, we organize the <bold><em>Multilingual Kids Live Review</em></bold> event at the OHBM annual meeting!  We host sessions in various languages to connect the scientists from OHBM to children (8-15 years old) all over the world, such as English, French, Italian, Japanese, Korean, Mandarin, Portuguese and Spanish and more!  The main objective of this presentation is to have children learn about your scientific work and get them excited about science and the brain.</p>
    <!-- <footer>
        <a href="#" class="button">Continue Reading</a>
    </footer> -->
</section>
<section>
    <h3>2023 Kids Review Sessions</h3>
    <ul class="links">
        <li><a href="/kidsreview/2023/bengali_session/">Bengali</a></li>
        <li><a href="/kidsreview/2023/english_session/">English</a></li>
        <li><a href="/kidsreview/2023/french/">French</a></li>
        <li><a href="/kidsreview/2023/german/">German</a></li>
        <!-- <li><a href="/kidsreview/2023/german_2/">German [2]</a></li> -->
        <li><a href="/kidsreview/2023/greek_session/">Greek (Ελληνικά)</a></li>
        <li><a href="/kidsreview/2023/italian/">Italian</a></li>
        <!-- <li><a href="/kidsreview/2023/italian_2/">Italian - Cos’è la memoria? E come la usiamo per imparare una nuova lingua</a></li> -->
        <!-- <li><a href="/kidsreview/2023/italian_3/">Italian [3]</a></li> -->
        <li><a href="/kidsreview/2023/japanese_session/">Japanese</a></li>
        <li><a href="/kidsreview/2023/korean_session/">Korean (한국어)</a></li>
        <li><a href="/kidsreview/2023/mandarin/">Mandarin</a></li>
        <!-- <li><a href="/kidsreview/2023/mandarin2/">Mandarin [2]</a></li> -->
        <li><a href="/kidsreview/2023/marathi_session/">Marathi</a></li>
        <li><a href="/kidsreview/2023/portuguese_session/">Portuguese (Português)</a></li>
        <li><a href="/kidsreview/2023/spanish_session/">Spanish</a></li>
        <li><a href="/kidsreview/2023/traditionalchinese_taiwan_session/">Traditional Chinese (Taiwan)</a></li>
    </ul>
    <!-- <footer>
        <a href="#" class="button">More Random Links</a>
    </footer> -->
</section>
