<section>
    <h3>Description</h3>
    <p>include Description text here!</p>
    <!-- <footer>
        <a href="#" class="button">Continue Reading</a>
    </footer> -->
</section>
<section>
    <h3>Languages</h3>
    <ul class="links">
        <li><a href="/kidsreview/2023/bengali/">Bengali</a></li>
        <li><a href="/kidsreview/2023/english/">English</a></li>
        <li><a href="/kidsreview/2023/italian/">Italian</a></li>
        <li><a href="/kidsreview/2023/japanese/">Japanese</a></li>
        <li><a href="/kidsreview/2023/korean/">Korean</a></li>
        <li><a href="/kidsreview/2023/mandarin/">Mandarin</a></li>
        <li><a href="/kidsreview/2023/portuguese/">Portuguese</a></li>
        <li><a href="/kidsreview/2023/spanish/">Spanish</a></li>
    </ul>
    <!-- <footer>
        <a href="#" class="button">More Random Links</a>
    </footer> -->
</section>
