<section>
  <h3>2026 Brain Mappers of Tomorrow Sessions</h3>
  <p>TBA</p>

  <!--
  <ul class="links">
    <li><a href="/kidsreview/2026/english_session/">English Live Session 1</a></li>
    <li><a href="/kidsreview/2026/english_session2/">English Live Session 2</a></li>
    <li><a href="/kidsreview/2026/polish_session/">Polish</a></li>
    <li><a href="/kidsreview/2026/italian_session/">Italian</a></li>
    <li><a href="/kidsreview/2026/mandarin_session/">Mandarin (華語/华语)</a></li>
    <li><a href="/kidsreview/2026/portuguese_session/">Portuguese</a></li>
  </ul>
  -->
</section>
