<!-- UPDATE WHEN NEEDED -->

<section>
    <h3><bold><em>Brain Mappers of Tomorrow</em></bold></h3>
    <p>Every year, we organize the <bold><em>Multilingual Kids Live Review event - </em></bold> now so-called <bold><em>Brain Mappers of Tomorrow</em></bold> - at the OHBM annual meeting! We host sessions in various languages to connect the scientists from OHBM to children (8-15 years old) all over the world, such as English, French, Italian, Japanese, Korean, Mandarin, Portuguese and Spanish and more! The main objective of this presentation is to have children learn about your scientific work and get them excited about science and the brain.</p>
    <!-- <footer>
        <a href="#" class="button">Continue Reading</a>
    </footer> -->
</section>
<section>
    <h3>2025 Brain Mappers of Tomorrow Sessions</h3>
    <h4>In progress</h3>

    <!-- <ul class="links">
        <li><a href="/kidsreview/2025/english_session/">English</a></li>
    </ul>
    <ul class="links">
        <li><a href="/kidsreview/2025/italian_session/">Italian</a></li>
    </ul>
    <ul class="links">
        <li><a href="/kidsreview/2025/mandarin_session/">Mandarin (汉语)</a></li>
    </ul>
    <ul class="links">
        <li><a href="/kidsreview/2025/portuguese_session">Portuguese</a></li>
    </ul> -->
    <!-- <footer>
        <a href="#" class="button">More Random Links</a>
    </footer> -->
</section>
