<section>
    <h3><strong><em>Brain Mappers of Tomorrow</em></strong></h3>
    <p>Every year, we organize the <strong><em>Multilingual Kids Live Review event</em></strong> – now so-called <strong><em>Brain Mappers of Tomorrow</em></strong> – at the OHBM annual meeting! We host sessions in various languages to connect the scientists from OHBM to children (8–15 years old) all over the world, such as English, French, Italian, Japanese, Korean, Mandarin, Portuguese, Spanish and more! The main objective of these presentations is to help children learn about your scientific work and get them excited about science and the brain.</p>
</section>

<section>
    <h3>2025 Brain Mappers of Tomorrow Sessions</h3>
    <ul class="links">
        <li><a href="/kidsreview/2025/english_session/">English</a></li>
        <li><a href="/kidsreview/2025/italian_session/">Italian</a></li>
        <li><a href="/kidsreview/2025/mandarin_session/">Mandarin (汉语)</a></li>
        <li><a href="/kidsreview/2025/portuguese_session/">Portuguese</a></li>
    </ul>
</section>
